.main-nav
	position: relative
	margin-top: 19px
	transition: all 0.9s ease
	background: #fff
	z-index: 9
	&-list
		display: flex
		flex-wrap: wrap
		height: 33px
		padding: 0
		margin: 0
		background: #fff
		line-height: 33px
		list-style-type: none
	&__link
		display: block
		height: 27px
		padding: 0 50px
		margin-top: 3px
		color: $text
		line-height: 27px
		text-transform: uppercase
		text-decoration: none
		border-left: 1px solid #efefef
		border-right: 1px solid #efefef

/* for mobile menu */
.m
	&-burger
		position: relative
		display: none
		width: 30px
		height: 30px
		border: 1px solid $text
		border-radius: 5px
		cursor: pointer
		&__menu
			position: relative
			top: 50%
			display: block
			width: 80%
			height: 2px
			margin: 0 auto
			margin-top: -1px
			background-color: $text
			&:after,
			&:before
				content: ''
				position: absolute
				top: -6px
				display: block
				width: 100%
				height: 2px
				background-color: $text
			&:after
				top: 6px
	&-nav
		position: fixed
		display: none
		justify-content: center
		align-items: center
		width: 100%
		height: 100%
		padding-right: 20px
		background: rgba(0, 0, 0, 0.85)
		z-index: 99
		transition: all 0.5s linear
		z-index: 10000
		&__close
			position: absolute
			right: 40px
			top: 20px
			color: #fff
			font-size: 20px
			z-index: 10011
			cursor: pointer
		&-list
			margin: 0
			padding-left: 0
			text-align: center
			list-style-type: none
		&__link
			display: block
			padding: 5px
			font-size: 20px
			color: #fff
			text-decoration: none
		&-visible
			display: flex
